<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/img/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>Thi Code</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="/static/img/Sobre mim.png" alt="Foto do Roeland">
            <h1>Roeland Janssen</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/thicode/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/codethi">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/channel/UCnATHGHftSGHbhn6uF8dEUA">
                    <i class="bi bi-youtube"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/thi.code/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>

            <nav id="navbar" class="nav-menu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#inicio">
                        <i class="bi bi-house"></i>
                        Início</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#sobre">
                        <i class="bi bi-person"></i>
                        Sobre</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#habilidades">
                        <i class="bi bi-list-check"></i>
                        Habilidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#curriculo">
                            <i class="bi bi-file-earmark"></i>
                            Currículo</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#portfolio">
                            <i class="bi bi-collection"></i>
                            Portfólio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#contato">
                            <i class="bi bi-envelope"></i>
                            Contato</a>
                      </li>
                  </ul>
            </nav>
        </section>
    </aside>

    <main id="main">
        <!-- inicio -->
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-8 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Roeland Janssen</h2>
                <span id="subtitle" class="text-white text-shadow">Social Media & Audiologista</span>
            </div>
            <div class="col-md-4 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true" >
                        <a href="#sobre">Arraste para mais</a>
                    </i>
                </div>
            </div>
        </section>
        <!-- end inicio -->

        <!-- sobre -->
        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis veritatis 
                        assumenda voluptates blanditiis et eligendi? Est, aliquam. Nihil, consequatur
                         eaque. Voluptas provident sed facere exercitationem quo ipsa reiciendis 
                         ratione assumenda! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis veritatis 
                         assumenda voluptates blanditiis et eligendi? Est, aliquam. Nihil, consequatur
                          eaque. Voluptas provident sed facere exercitationem quo ipsa reiciendis 
                          ratione assumenda!</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="/static/img/Sobre mim.png" alt="Foto do Roeland" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Social Media & Audiologista</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Colocar um testo pequeno 
                        de qual a minha função atualmente.
                    </p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver:
                                    <span class="fw-lighter">18 de Setembro de 1963</span>
                                </li>
                                <li class="list-group-item">
                                    Idade:
                                    <span class="fw-lighter">60 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade
                                    <span class="fw-lighter">Carambeí</span>
                                </li>
                                <li class="list-group-item">
                                    Estado:
                                    <span class="fw-lighter">Paraná</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby:
                                    <span class="fw-lighter">Pedalar com minha bike</span>
                                </li>
                                <li class="list-group-item">
                                    Site:
                                    <a href="https://thicode.netlify.app/" target="_blank" 
                                        class="fw-lighter text-decoration-none link-dark">
                                        links.thicode
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    Trabalho:
                                    <a href="/https://blueedtech.com.br/" target="_blank"
                                        class="fw-lighter text-decoration-none link-dark">
                                        EdTech
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    Experiência
                                    <span class="fw-lighter">+10 anos</span>
                            </ul>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus voluptatibus
                         itaque culpa optio ipsum iste, nesciunt distinctio fuga, iusto consectetur,
                          laboriosam ipsa eius aliquam omnis vero aliquid! Quas, aut nihil?</p>
                </div>
            </div>

        </section>
        <!-- end sobre -->

        <!-- habilidades -->
        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officia earum sint 
                    architecto a magni deserunt quos, vitae, recusandae reprehenderit quis inventore
                     voluptatibus iure suscipit facilis. Accusamus aut aliquam expedita.
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officia earum sint 
                    architecto a magni deserunt quos, vitae, recusandae reprehenderit quis inventore
                     voluptatibus iure suscipit facilis. Accusamus aut aliquam expedita.
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 95%">95%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Javascript</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 25%">25%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 95%">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Java</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 10%">10%</div>
                        </div>

                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 65%">65%</div>
                        </div>
                        <p class="mt-3 mb-0">Deploy</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 55%">55%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Angular</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">ReactJs</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">NodeJs (Express)</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Spring</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 100%">100%</div>
                        </div>
                        <p class="mt-3 mb-0">NoSQL</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 90%">90%</div>
                        </div>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 100%">100%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 98%">98%</div>
                        </div>
                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 95%">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress" role="progressbar" data-anime="left" aria-label="Example with label" 
                            aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 98%">98%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end habilidades -->

        <!-- curriculo -->
        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Análise de Sistemas</h4>
                            <h5>2019 - 2019</h5>
                            <p><em>Instituto Brasileiro de Formação</em></p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea no 
                                laudantium nulla quis! Molestiae reprehenderit impedit, incidunt 
                                sed, repellendus expedita natus consequatur, ea voluptates aut 
                                minus nihil voluptatem facere minima.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Análise de Sistemas</h4>
                            <h5>2019 - 2019</h5>
                            <p><em>Instituto Brasileiro de Formação</em></p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea no 
                                laudantium nulla quis! Molestiae reprehenderit impedit, incidunt 
                                sed, repellendus expedita natus consequatur, ea voluptates aut 
                                minus nihil voluptatem facere minima.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Análise de Sistemas</h4>
                            <h5>2019 - 2019</h5>
                            <p><em>Instituto Brasileiro de Formação</em></p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea no 
                                laudantium nulla quis! Molestiae reprehenderit impedit, incidunt 
                                sed, repellendus expedita natus consequatur, ea voluptates aut 
                                minus nihil voluptatem facere minima.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Análise de Sistemas</h4>
                            <h5>2019 - 2019</h5>
                            <p><em>Instituto Brasileiro de Formação</em></p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea no 
                                laudantium nulla quis! Molestiae reprehenderit impedit, incidunt 
                                sed, repellendus expedita natus consequatur, ea voluptates aut 
                                minus nihil voluptatem facere minima.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Análise de Sistemas</h4>
                            <h5>2019 - 2019</h5>
                            <p><em>Instituto Brasileiro de Formação</em></p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea no 
                                laudantium nulla quis! Molestiae reprehenderit impedit, incidunt 
                                sed, repellendus expedita natus consequatur, ea voluptates aut 
                                minus nihil voluptatem facere minima.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Análise de Sistemas</h4>
                            <h5>2019 - 2019</h5>
                            <p><em>Instituto Brasileiro de Formação</em></p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea no 
                                laudantium nulla quis! Molestiae reprehenderit impedit, incidunt 
                                sed, repellendus expedita natus consequatur, ea voluptates aut 
                                minus nihil voluptatem facere minima.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- end curriculo -->

        <!-- portfolio -->
        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">

                <h2 class="pb-4">Portfólio</h2>
                
                <div id="carouselPortfolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="/static/img/img-1.png" class="card-img-top" alt="Plataforma educacional">
                                <div class="card-body">
                                  <h5 class="card-title">Plataforma Educaional</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural 
                                    lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://generationbrasil.online/#login" target="_blank" class="btn btn-outline-primary">
                                            <i class="bi bi-link-45deg"></i>
                                        </a>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="/static/img/img-2.png" class="card-img-top" alt="print do blog">
                                <div class="card-body">
                                  <h5 class="card-title">Blog Pessoal</h5>
                                  <p class="card-text">This is a longer card with supporting text 
                                    below as a natural lead-in to additional content. This content 
                                    is a little bit longer.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/codethi/blogPessoal-front-back" target="_blank" class="btn btn-outline-dark me-3">
                                            <i class="bi bi-github"></i>
                                        </a>
                                        <a href="https://newbloggen.netlify.app/#/login" target="_blank" class="btn btn-outline-primary">
                                            <i class="bi bi-link-45deg"></i>
                                        </a>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="/static/img/img-2.png" class="card-img-top" alt="print do blog">
                                <div class="card-body">
                                  <h5 class="card-title">Pokedéx</h5>
                                  <p class="card-text">This is a longer card with supporting text below as 
                                    a natural lead-in to additional content.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/codethi/pokedex-flask" target="_blank" class="btn btn-outline-dark me-3">
                                            <i class="bi bi-github"></i>
                                        </a>
                                        <a href="https://pokedex-thicode.herokuapp.com/" target="_blank" class="btn btn-outline-primary">
                                            <i class="bi bi-link-45deg"></i>
                                        </a>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="/static/img/img-1.png" class="card-img-top" alt="Plataforma educacional">
                                <div class="card-body">
                                  <h5 class="card-title">Blue Music</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural 
                                    lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://generationbrasil.online/#login" target="_blank" class="btn btn-outline-primary">
                                            <i class="bi bi-link-45deg"></i>
                                        </a>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="/static/img/img-2.png" class="card-img-top" alt="print do blog">
                                <div class="card-body">
                                  <h5 class="card-title">Timer</h5>
                                  <p class="card-text">This is a longer card with supporting text 
                                    below as a natural lead-in to additional content. This content 
                                    is a little bit longer.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/codethi/blogPessoal-front-back" target="_blank" class="btn btn-outline-dark me-3">
                                            <i class="bi bi-github"></i>
                                        </a>
                                        <a href="https://newbloggen.netlify.app/#/login" target="_blank" class="btn btn-outline-primary">
                                            <i class="bi bi-link-45deg"></i>
                                        </a>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="/static/img/img-2.png" class="card-img-top" alt="print do blog">
                                <div class="card-body">
                                  <h5 class="card-title">Página de Links</h5>
                                  <p class="card-text">This is a longer card with supporting text below as 
                                    a natural lead-in to additional content.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/codethi/pokedex-flask" target="_blank" class="btn btn-outline-dark me-3">
                                            <i class="bi bi-github"></i>
                                        </a>
                                        <a href="https://pokedex-thicode.herokuapp.com/" target="_blank" class="btn btn-outline-primary">
                                            <i class="bi bi-link-45deg"></i>
                                        </a>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
            </div>
        </section>
        <!-- end porfolio-->

        <!-- contato -->
        <section class="pt-5 pb-5" id="contato">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Carambeí, PR</p>
                            </div>
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> E-mail:</h4>
                                <p>roeland.e.janssen@gmail.com</p>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.469386649222!2d-50.12053682542864!3d-24.95013991407688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94e822376186d9b1%3A0x24371438b66983e7!2sR.%20do%20Bronze%2C%20276%2C%20Carambe%C3%AD%20-%20PR%2C%2084145-000!5e0!3m2!1spt-BR!2sbr!4v1706027576508!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">
                            <form class="row g-3">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome:</label>
                                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o seu nome">
                                </div>
                                <div class="col-md-6">
                                  <label for="email" class="form-label">E-mail:</label>
                                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail">
                                </div>
                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea class="form-control" name="mensagem" id="mensagem" rows="10" placeholder="Digite a sua mensagem"></textarea>
                                </div>                                
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end contato -->
    </main>

    <script src="/static/script.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>